<% layout('./layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/index.css">

<% Object.entries(combinedResults).forEach(([category, games]) => { %>
    <h2><%= category.replace(/([A-Z])/g, ' $1').toUpperCase() %></h2> <!-- Format category name -->
    <div class="games-grid">
    <% if (games.length > 0) { %>
        <% games.forEach(game => { %>
            <a href="/games/<%= game.id %>" class="game-card">
      <img src="<%= game.cover ? `https://images.igdb.com/igdb/image/upload/t_cover_big/${game.cover.image_id}.jpg` : 'https://i.ytimg.com/vi/m8i5JuwI_V0/hqdefault.jpg' %>" alt="<%= game.name %>">
      <div class="game-info">
      <h2 class="game-title" data-title="<%= game.name %>"><%= game.name %></h2>
              <% 
        // Determine the review label and class based on the rating
        let reviewLabel = '';
        let reviewClass = '';

        if (game.rating >= 95) {
          reviewLabel = 'Overwhelmingly Positive';
          reviewClass = 'overwhelmingly-positive';
        } else if (game.rating >= 85) {
          reviewLabel = 'Very Positive';
          reviewClass = 'very-positive';
        } else if (game.rating >= 70) {
          reviewLabel = 'Positive';
          reviewClass = 'positive';
        } else if (game.rating >= 50) {
          reviewLabel = 'Mostly Positive';
          reviewClass = 'mostly-positive';
        } else if (game.rating >= 40) {
          reviewLabel = 'Mixed';
          reviewClass = 'mixed';
        } else if (game.rating >= 20) {
          reviewLabel = 'Mostly Negative';
          reviewClass = 'mostly-negative';
        } else if (game.rating >= 10) {
          reviewLabel = 'Negative';
          reviewClass = 'negative';
        } else {
          reviewLabel = 'Overwhelmingly Negative';
          reviewClass = 'overwhelmingly-negative';
        }
      %>

      <!-- Output the rating with the appropriate text and class -->
      <span class="game-rating">
        <span class="rating-score <%= reviewClass %>"><%= Math.floor(game.rating) %></span>
        - <%= reviewLabel %>
      </span>
              <!-- <button class="status-button" type="button">O</button> -->
            </div>
          </a>
        <% }); %>
    <% } else { %>
        <p>No games found in this category.</p>
    <% } %>
    </div>
<% }); %>