<% layout('./layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/index.css">

<h1>Search for Games</h1>

<% if (games.length > 0) { %>
    <div class="games-grid">
        <% games.forEach(game => { %>
            <a href="/games/<%= game.id %>" class="game-card">
                <img src="<%= game.cover ? `https://images.igdb.com/igdb/image/upload/t_cover_big/${game.cover.image_id}.jpg` : 'https://i.ytimg.com/vi/m8i5JuwI_V0/hqdefault.jpg' %>" alt="<%= game.name %>">
                <div class="game-info">
                    <h2 class="game-title" data-title="<%= game.name %>"><%= game.name %></h2>
                    <span class="game-rating"><%= Math.floor(game.rating) %></span>
                    <!-- Handle undefined storyline or summary -->
                    <p class="game-sumary">
                        <%= game.storyline && game.storyline.length > 0 
                            ? game.storyline.substring(0, 175) + '...' 
                            : (game.summary && game.summary.length > 0 
                                ? game.summary.substring(0, 175) + '...' 
                                : 'No summary available') %>
                    </p>
                    <div class="game-themes">
                        <% game.themes?.forEach(theme => { %>
                            <div class="game-theme"><%= theme.slug %></div>
                        <% }) %>
                    </div>
                    <button class="status-button" type="button">O</button>
                </div>
            </a>
        <% }) %>
    </div>
<% } else { %>
    <h2>No games found. Please try another search.</h2>
<% } %>
